body {
    color: #555;
	margin:0px;
	padding:0px;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

h1 {
	font-weight: 200;
	color: #11D56C;
	margin: 20px 0 0 0;
}

a {
	outline: none;
	text-decoration: none;
	color: #54E497;
}

h2, h3 {
	margin-bottom: 0px;
	margin-top: 5px;
	font-weight: normal;
}

h3 {
	font-style: italic;
	font-size: 15px;
}

.sub-content {
	margin: 50px auto 100px auto;
	width: 100%;
	text-align: center;
	display: none;
}
 
#about {
	max-width: 640px;
}

#byline {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	text-transform: uppercase;
	font-size: 35px;
	margin: 200px auto 0 auto;
	letter-spacing: 2px;
	width: auto;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
    animation: fadeInUp .75s ease;
    -webkit-animation: fadeInUp .75s ease;
    animation-delay: .25s;
    -webkit-animation-delay: .25s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#nav {
	font-weight: 200px;
    display: block;
	text-align: center;
	margin: 20px auto 0 auto;
	animation: fadeInUp .75s ease;
    -webkit-animation: fadeInUp .75s ease;
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#nav ul {
	list-style-type: none;
	padding: 0;
	height: 20px;
	text-align: center;
}

#nav li {
	display: inline-block;
	float: center;
	margin: 0 85px;
	position: relative;
}

.nav-link {
	text-align: center;
	width: auto;
	color: #11D56C;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.underline_divider {
  text-align: center;
  border-bottom: 1px solid #2d3038;
  width: 240px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#programming{
	text-align: center;
	padding: 25px;
	width: 100%
}

#design {
	width: 1000px;
}

.image {
	display: inline;
	text-align: center;
    vertical-align: middle;
}

#design img {
	height: 400px;
}

.img-responsive {
	display: block;
	max-width: 100%;
}

.item p, .item h2, .item-art p, .item-art h2 {
	font-size: 15px;
	color: black;
	margin-top: 5px;
	margin-bottom: 2px;
}

.item-art h2 {
	font-size: 25px;
	font-weight: bold;
}

img {
	vertical-align: middle;
	border: 2px ridge rgb(208, 251, 255);
	height: 200px;
}

.item {
	display: inline-block;
	width: 320px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	text-align: left;
	vertical-align: top;
	height: 300px;
}

.item-art {
	display: inline-block;
	margin-top: 5px; 
 	margin-bottom: 5px; 
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: top;
}

form {
	margin: 0 auto;
	max-width: 439px;
}

.field {
	width: 100%;
	height: 27px;
	background: #efefef;
	border: 1px solid #dedede;
	padding: 10px;
	margin-top: 15px;
	font-size: 0.9em;
	color: #54E497;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#message {
	height: 200px;
}

.button {
	border: 0;
	border-radius: 3px;
	border-color: #54E497;
	color: #fff;
	background-color: #54E497;
	display: inline-block;
	cursor: pointer;
	transition-duration: .1s;
	padding: 10px 14px;
	box-shadow: none;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
	width: 100px;
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
}

.button:hover {
	opacity: 0.6;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}